
.tripsList__container{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fcfcfccc;
  z-index: 1;
  max-height: 90%;
  border-radius: 5px;
}

.tripsList__container>div{
  overflow: auto;
}

.trip__li__todo{
  background-color: #fe8590;
}

.trip__li__completed{
  background-color: #8eeca4;
}